.btn-positive-action {
    background-color: #47667B;
    color: #fff;
}

.btn-negative-action {
  background-color: #F8F4C4;
  color: #000;
}

h1, h2, h6 {
  color: #47667B;
}

h5 {
  color: #6D8B89;
}

a {
  color: #6D8B89;
}